.practice-table {
    width: 50%;
    /* display: block; */
    margin: auto;
  }
  
  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    border-color: currentColor;
    background-color: red;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }